<application
    android:name=".AppStartup"
    android:label="@string/app_name"
    android:theme="@style/Theme.Material3.DayNight.NoActionBar">

    <activity
        android:name=".LoginActivity"
        android:exported="true"> <!-- requerido desde Android 12 si hay intent-filter -->
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

    <activity
        android:name=".MainActivity"
        android:exported="true" />
</application>
